transformers
accelerate
einops
xformers
bitsandbytes
huggingface_hub
PyPDF2
torch
datasets
numpy
scipy
Flask
gunicorn
Jinja2
pandas
matplotlib
tokenizers
scikit-learn
gradio
nltk
gunicorn
langdetect
beautifulsoup4

